<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uncon.lv.uniapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="unicon.lv.uniapp.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.ScheduleActivity"
            android:label="Schedule">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.EventMapActivity"
            android:label="Event Map">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.LocationActivity"
            android:label="Location">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.TicketActivity"
            android:label="Ticket Info">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.GuestActivity"
            android:label="Special Guests">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.PanelActivity"
            android:label="Panels">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.CosplayActivity"
            android:label="Cosplay">
        </activity>
        <activity
            android:name="unicon.lv.uniapp.activities.PolicyActivity"
            android:label="Policy">
        </activity>
    </application>

</manifest>